@{
    ViewData["Title"] = "Home Page";
}
<div id="PlaceHolder"></div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#uploadImage"
data-url="@Url.Action("Upload")">
    Upload</button>

